---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<section class="py-8 sm:py-12 lg:py-20">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 text-center sm:gap-x-8 md:grid-cols-3">
      <div>
        <h3 class="font-bold text-7xl">
          <span
            class="bg-gradient-to-r from-fuchsia-600 to-blue-600 bg-clip-text text-transparent"
          >
            180K+
          </span>
        </h3>
        <p class="mt-4 font-medium text-xl">Installations</p>
        <!-- <p class="text-base mt-0.5 text-gray-500">Creating the successful path</p> -->
      </div>

      <div>
        <h3 class="font-bold text-7xl">
          <span
            class="bg-gradient-to-r from-fuchsia-600 to-blue-600 bg-clip-text text-transparent"
          >
            4.9
          </span>
        </h3>
        <p class="mt-4 font-medium text-xl">AppStore Rating</p>
        <!-- <p class="text-base mt-0.5 text-gray-500">In last 6 years</p> -->
      </div>

      <div>
        <h3 class="font-bold text-7xl">
          <span
            class="bg-gradient-to-r from-fuchsia-600 to-blue-600 bg-clip-text text-transparent"
          >
            3.8K
          </span>
        </h3>
        <p class="mt-4 font-medium text-xl">Stars on GitHub</p>
        <!-- <p class="text-base mt-0.5 text-gray-500">Working for your success</p> -->
      </div>
    </div>
  </div>
</section>
