---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<section
  id="support"
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8 py-6"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-6xl"
    >
      ❤️ Love this app?
    </h2>
  </div>
  <p class="max-w-xl text-center font-bold text-xl">
    Support it on Patreon, Buy Me a Coffee or via AppStore in-app purchases.
  </p>
  <div class="grid grid-cols-1 items-center gap-1 sm:grid-cols-2">
    <a
      href="https://www.patreon.com/bePatron?u=20843192"
      data-patreon-widget-type="become-patron-button" class="btn p-2">Become a Patron!</a
    ><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"
    ></script>
    <a href="https://www.buymeacoffee.com/meetingbar"
      ><img
        src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=meetingbar&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"
      /></a
    >
  </div>
</section>
